<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839131053360-r1sg3to1c88ltn3ba8f2avu0u9j503oj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839131053360-r1sg3to1c88ltn3ba8f2avu0u9j503oj</string>
	<key>API_KEY</key>
	<string>AIzaSyDI-DflecX-NIqaGFkSfFSWpNJutrwlwoA</string>
	<key>GCM_SENDER_ID</key>
	<string>839131053360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>my.com.tbs.epandu.app</string>
	<key>PROJECT_ID</key>
	<string>tbsmsgr-fcm</string>
	<key>STORAGE_BUCKET</key>
	<string>tbsmsgr-fcm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839131053360:ios:43f55b3df70a0aaf3a9cf5</string>
	<key>DATABASE_URL</key>
	<string>https://tbsmsgr-fcm.firebaseio.com</string>
</dict>
</plist>